.idea
.DS_Store
.sass-cache
Gemfile.lock
package-json.lock
_site
node_modules
_drafts
presentations/~$issue-jan-2020.pptx
presentations/~$issue-nov-2019.pptx
presentations/~$video-5-presentation.pptx
