---
layout: page
title: Standard CxO starter package
description: CxO level coaching packages - standard starter package.
permalink: /services/cxo/standard/order 
---

{% if site.email %}

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
  }
</style>
<center>
<h2 style="padding:10px;">Just one more step and order is done! </h2>
<p><a href="#form">Scroll down</a> to finalize the offer.</p>
</center>

<div class="container">
  
  <div style="background-color:#ddd;padding:0px;"><div>

    
    <table style="background-color: #fff;">
      <tr>
        <td style="text-align: center; vertical-align: middle;">
          <img src="/assets/img/dxdoctor-package.png"/>
          <h2>CxO level STANDARD coaching package</h2>
        </td>
      </tr>
      <tr>
        <td>
          5 Online video lectures
        </td>
      </tr>
      <tr>
        <td>
          1 online / on premises coaching session (1 hour / session) 
        </td>
      </tr>
      <tr>
        <td>
          max 6 participants
        </td>
      </tr>
      <tr>
        <td>
          <b>2 000,00 € + traveling expenses</b>
        </td>
      </tr>
  
    </table>

  <p>Fill in the order form or <a href="/services/#packages">return to offering options to see other packages.</a></p>

  <div id="form" class="contact-form">
    <a name="form"/>
    <form accept-charset="UTF-8" method="POST" action="https://formspree.io/mlebvqng" v-on:submit.prevent="validateBeforeSubmit" ref="contact">
      <fieldset>
        <input type="hidden" name="_subject" value="New SMALL package Order!" />
        <input type="hidden" name="_next" value="{{ site.url }}/contact/message-sent/" />
        <input type="hidden" name="_language" value="{{ site.language }}" />

        <input type="text" name="name" placeholder="Your name" v-validate="'required'"
               :class="{ 'has-error': errors.has('name') }">
        <span v-if="errors.has('name')" v-cloak>${ errors.first('name') }</span>

        <input type="text" name="email" placeholder="Your e-mail" v-validate="'required|email'"
               :class="{ 'has-error': errors.has('email') }">
        <span v-if="errors.has('email')" v-cloak>${ errors.first('email') }</span>

        <textarea name="message" onkeyup="adjust_textarea(this)" placeholder="Additional information: wanted start date and location." v-validate="'required'"
                  :class="{ 'has-error': errors.has('message') }"></textarea>
        <span v-if="errors.has('message')" v-cloak>${ errors.first('message') }</span>
        <p>You will receive email confirmation after the order has been processed.</p>
        <button type="submit">Send</button>
      </fieldset>
    </form>
  </div>

</div>


  
<script type="text/javascript">
function adjust_textarea(h) {
    h.style.height = "200px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.8"></script>
<script type="text/javascript">
Vue.use(VeeValidate);

new Vue({
  el: '#form',
  delimiters: ['${', '}'],
  methods: {
    validateBeforeSubmit: function () {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        this.$refs.contact.submit();
      }
    }
  }
});
</script>

{% else %}

<script>window.location = "{% if site.url == '' and site.baseurl == '' %}/{% else %}{{ site.url }}{{ site.baseurl }}{% endif %}";</script>

{% endif %}
