

<section class="comments">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
</section>
<script>

    var disqus_config = function () {
    this.page.url = https://dxdoctor.net/;  
    this.page.identifier = dxdoctor; 
    };
    
    (function() { 
    var d = document, s = d.createElement('script');
    s.src = 'https://dxdoctor.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                


